.clear{
    clear: both;
}
html{
    text-align:center;
}
body{
    max-width:1075px;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
    color:#9b9da0;
    font-weight: 300;
    text-align: left;
      /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    /**background: url(../images/T-mobile_BKG_image.jpg) no-repeat;
    -o-background-size:100% auto;
    -webkit-background-size:100% auto;
    -moz-background-size:100% auto;
    background-size:100% auto;**/
}
header{
    font-size:15pt;
    padding:10px;
}
header a, footer a{
    text-decoration:none;
    color:#9b9da0;
}
footer{
    font-size: 10pt;
    line-height: 22pt;
    padding: 30px 0 30px 0;
    width: 100%;
    background: #ebebeb;
    position: absolute;
    left: 0px;
    text-align: center;
}
footer .container{
    max-width: 1075px;
    display: inline-block;
    width: 100%;
}
footer .links{text-align:right;}
footer .disclaimer{text-align:center;}
footer .logo{text-align: left;}
h1{
    font-size: 47.5pt;
    font-weight: 300;
    margin-bottom: 28px;
}
h2{
    color:#2178b5;
    font-size:27pt;
    font-weight: 400;
    margin-bottom: 20px;
}
h3{
    font-size: 27pt;
    font-weight: 600;
}
a{
    color:#2178b5;
    text-decoration: underline;
}
b{
    font-weight: 600;
}
.stepNumber{
    text-transform: uppercase;
    color: #2178b5;
    font-size:28pt;
    line-height: 56pt;
}
.stepDescription p{
    font-size: 17.5pt;
}
.first-word{
    font-weight: 600;
    color: #2178b5;
}
#contact a{
    text-decoration: none;
}
.contact{
    font-size: 22pt;
    margin: 20px 0 40px 0;
}
/** Containers **/
.stepContainer{
    margin: 40px 0 20px 0;
}
.stepNumber{
    display: block;
    position:inherit;
    background: #ebebeb;
    border:1px solid #2178b5;
    width: 231px;
    text-align: center;
}
.stepDescription{
    display: block;
    background: #f3f3f3;
    border:1px solid #acacac;
    width: 88%;
    min-height: 382px;
    margin-left: 3%;
    padding: 80px 20px 20px 40px;
    margin: -58px 0 0 3%;
}
#backgroundImage{
    position: absolute;
    z-index: -1;
    width: 100vw;
    left: 0;
    top: 43px;
}
#backgroundImage img {
    width: 100%;
}
.image{
    float: right;
    max-height: 545px;
}
.image img{
    width: 600%;
    top: 0;
    position: absolute;
    left: -350%;
}
@media (max-width: 768px) {
    body{
        font-size:8.6pt;
        font-weight:400;
    }
    header{
        line-height:1pt;
    }
    header img{
        height:14px;
    }
    header a{
        color:#2178b5;
        text-decoration: underline;
        font-size: 9pt;
        line-height: 11pt;
    }
    h1{
        padding-top:30px;
        font-size:21pt;
        margin-bottom:20px;
    }
    h2{
        font-size:14pt;
        font-weight:600;
        margin-top:30px;
        margin-bottom:10px;
    }
    h3{
        font-size:13pt;
        font-weight:700;
    }
    main{
        text-align:center;
    }
    .stepContainer{
        margin:25px 0 10px 0;
        text-align:center;
        display:inline-block;
    }
    .stepNumber{
        width:115px;
        font-size:14pt;
        line-height:28pt;
        margin-left:5.333%;
    }
    .stepDescription{
        margin:-28px 0 0 8.33%;
        padding:40px 1% 15px 7%;
        padding-left:7%;
        width:85%;
        min-height:190px;
        text-align:left;
    }
    .stepDescription p {
    font-size: 9pt;
    }
    #mobileSteps{
        text-align:center;
    }
    .contact {
        font-size: 10pt;
        margin: 5px 0 25px 0;
    }
    .contact p{
        padding: 0 10%;
    }
    footer .links{
        text-align:center;
        font-weight:600;
        text-transform:uppercase;
        font-size:7pt;
        margin-top:-5px
        }
    footer .disclaimer{
        text-align:right;
        font-size:5pt;
        text-transform:uppercase;
        }
    footer .logo{
        text-align: left;
        }
    footer .logo img{
        width:100%;
        min-width:115px;
    }
    footer .container{
        padding:0;
        margin:0;
    }
    footer{
        padding:10px 0 10px 0;
    }
}